.info{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 30px;
}

h3{
    margin-top: -20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#carousel{
    display: flex;
    justify-content: flex-start;
}

label {
    display: block;
}

#button{
    display: block;
    color: white;
    background: rgb(175,181,181);
    background: linear-gradient(0deg, rgba(175,181,181,1) 0%, rgba(4,4,4,1) 21%, rgba(113,117,117,1) 72%, rgba(70,72,72,0.9505285608308606) 100%);
    margin: 3px;
    border-radius: 10px;
    width:100px;
    height: 26px;
}

#button:hover{
    background: rgb(175,181,181);
    background: linear-gradient(0deg, rgba(175,181,181,1) 0%, rgba(113,117,117,1) 15%, rgba(70,72,72,1) 37%, rgba(4,4,4,1) 75%);
}

.img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.carousel{
    background-color: black;
}